body {
    background-color: pink;
}

h1 {
    color:rgb(69, 57, 69);
}

h2{
    color: rgb(97, 93, 93);
}

p {
    color:black;
}
bosy {
    font-family: arial,sans-serif;
}
img {
    width: 100%;
    max-width: 300px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 4px 10px gray;
}

button {
    background-color: rgb(250, 115, 214);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px ;
}
.tarjeta {
    background-color: rgb(253, 160, 160);
    padding: 20px;
    margin: 15px;
    border-radius: 15px ;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 10px gray;
    border: 5px solid black;
}
.yo {
    background-color: rgb(253, 160, 160);
    padding: 20px;
    margin: 15px;
    border-radius: 15px ;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 10px gray;
    border: 5px solid black;
}

.formulario {
    background-color: aquamarine;
    padding: 20px;
    margin: 12px;
    border-radius: 15px ;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 10px gray;
    border: 5px solid black;
}

.teamo {
    background-color: rgb(249, 209, 236);
    padding: 20px;
    margin: 12px;
    border-radius: 15px ;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 10px gray;
    border: 5px solid black;
}

.contenedor {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
@media (max-width: 600px) {
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
}